.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
pytest-cache-files-*/
.mypy_cache/
.ruff_cache/
.pre-commit-cache/
.coverage
htmlcov/
.cache/
tests/.tmp/
.DS_Store

tools/linux/.disks-benchmark-like-bin
